/* Start Customer List */
.customers-list .container {
  min-height: calc(100vh - 15rem);
  padding-bottom: 10rem;
}
.customers-list .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.customers-list .customers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem;
}
.customers-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.customers-cards .card .img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.customers-cards .card .card-body {
  padding: 2rem;
}
.customers-cards .card .customer-name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.customers-cards .card .balance {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.customers-cards .card .balance .amount {
  color: blue;
}
/* Start Skeleton Loader */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 20%, 80%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-img{
  width: 100%;
  height: 30rem;
}
.skeleton-text {
  width: 100%;
  height: 1.2rem;
  margin-bottom: 1rem;
  border-radius: .5rem
}
.skeleton-text-body {
  width: 75%
}
.skeleton-link {
  display: block;
  height: 4rem;
  width: 15rem;
  border-radius: .5rem;
}
/* End Skeleton Loader */
/* End Customer List */
