/* Start Customer Section */
.customer-section .container {
  display: grid;
  grid-template: repeat(3, minmax(5rem, auto)) / repeat(2, minmax(10rem, 1fr));
  gap: 4rem;
  padding-bottom: 10rem;
}
.customer-section .sect {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
}
.customer-section .customer-info {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 767px) {
  .customer-section .customer-info {
    flex-direction: column;
  }
}
.customer-section .customer-info .img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
}
.customer-section .customer-info .info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 767px) {
  .customer-section .customer-info .info {
    flex-direction: column;
    text-align: center;
  }
}
.customer-section .customer-info .name {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.customer-section .customer-info .email {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.customer-section .customer-info .balance {
  font-size: 1.8rem;
}
.customer-section .customer-info .balance .amount {
  color: blue;
}
@media (max-width: 991px) {
  .customer-section .trans {
    grid-column: 1 / span 2;
  }
}
.customer-section .trans .title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.customer-section .trans table {
  width: 100%;
  border-spacing: 0px;
}
.customer-section .trans thead th {
  background-color: var(--color, #000);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}
.customer-section .trans thead th:not(:last-child) {
  border-right: 1px solid #eee;
}
.customer-section .trans tbody td {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid #eee;
}
.customer-section .trans tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}
/* End Customer Section */
/* Start Transefer Container */
.transfer-container {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.transfer-container.active {
  top: 0;
}
.transfer-container::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0 / 0.4);
  opacity: 0;
  z-index: -1;
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.transfer-container.active::before {
  opacity: 1;
}
.transfer-container .transfer-box {
  background-color: white;
  width: 90%;
  max-width: 40rem;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  /* overflow: hidden; */
}
.transfer-container .loading {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(0 0 0 / 0.6);
  color: #fff;
  z-index: -20;
  opacity: 0;
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.transfer-container .loading.active {
  opacity: 1;
  z-index: 20;
}
.transfer-container .loading .loader {
  width: 3rem;
  height: 3rem;
  border: 2px var(--secondary-color, #d68e65);
  border-style: solid dotted;
  border-radius: 50%;
  position: relative;
  animation: rotate-forwards 1s infinite linear;
  margin-left: 2rem;
}
.transfer-container .loading .loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px #fff;
  border-style: dotted solid;
  animation: rotate-backwards 0.5s infinite linear;
}
@keyframes rotate-forwards {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate-backwards {
  100% {
    transform: rotate(-1turn);
  }
}
.transfer-box .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  position: relative;
}
.transfer-box .field .label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.transfer-box .field .input {
  padding: 0.5rem;
  border: 1px solid #333;
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.transfer-box .field .input:focus {
  outline: none;
  border-color: var(--secondary-color, #d68e65);
}
.transfer-box .field select.input {
  cursor: pointer;
}
.transfer-box .field:nth-child(2).non-valid::before {
  content: "Value Not Valid";
  position: absolute;
  bottom: -2rem;
  left: 0.5rem;
  height: 2rem;
  color: red;
}
.transfer-box .submit {
  display: block;
  margin-left: auto;
}
.transfer-container .close-icon {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  display: grid;
  place-items: center;
  color: white;
  background-color: var(--secondary-color, #d68e65);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
/* End Transefer Container */
/* Start Warning Popup */
.warning {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0 0 0 / 0.6);
  opacity: 0;
  z-index: -100;
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.warning.active {
  opacity: 1;
  z-index: 100;
}
.warning .warn-box,
.warning .over-balance-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: var(--transition-delay, 0.3s);
  -moz-transition: var(--transition-delay, 0.3s);
  transition: var(--transition-delay, 0.3s);
}
.warning .warn-box {
  top: 50%;
  height: 18rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4rem;
  border-radius: 0.5rem;
  z-index: 1;
}
.warning.active .warn-box {
  transform: translate(-50%, -50%) scale(1);
}
.warning .warn-box .title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.warning .container {
  position: relative;
}
.warning .over-balance-img {
  width: 16rem;
}
.warning.active .over-balance-img {
  margin-top: -17rem;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* End Warning Popup */
