/* Start Customer List */
.customers-list .container {
  min-height: calc(100vh - 15rem);
  padding-bottom: 10rem;
}
.customers-list .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.customers-list .customers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem;
}
.customers-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
.customers-cards .card .img {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 50%;
}
.customers-cards .card .customer-name {
  font-size: 2rem;
  margin: 2rem;
}
.customers-cards .card .balance {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
/* End Customer List */
