/* Start Transactions History */
.transactions-history .container {
  padding-bottom: 10rem;
  min-height: calc(100vh - 15rem);
}
.transactions-history .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}
.transactions-history .table {
  width: 100%;
  background-color: #fff;
  border-spacing: 0;
  padding: 2rem;
  position: relative;
}
@media (max-width: 575px) {
  .transactions-history .table .date {
    display: none;
  }
  .transactions-history .table::before {
    content: "* date column doesn't appear in small devices";
    position: absolute;
    top: -2.5rem;
    left: 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: red;
  }
}
.transactions-history .table thead th {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}
.transactions-history .table thead th:not(:last-child) {
  border-right: 1px solid #eee;
}
.transactions-history .table tbody td {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #eee;
  line-height: 1.5;
}
.transactions-history .table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
/* End Transactions History */
